<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
  <Libs>
    <Dir>Modules</Dir>
    <Dir>C:\Python27\Lib</Dir>
    <Dir>C:\Python27\Lib\site-packages</Dir>
  </Libs>
  <Export>
    <Pmx>Export</Pmx>
    <Vmd>Export</Vmd>
  </Export>
  <Scripts>
    <Run>template.py</Run>
    <Setting>setting.py</Setting>
  </Scripts>
  <KeepLogOpen>True</KeepLogOpen>
  <DropPmxFile>True</DropPmxFile>
  <DropVmdFile>True</DropVmdFile>
</Configuration>